// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

$btnGooglePlusBackground:           #7BB596;
$btnGooglePlusBackgroundHighlight:  #40985B;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.btn-google-plus {
  @include button-variant($btnText, $btnGooglePlusBackground, $btnGooglePlusBackgroundHighlight);
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 30%;
  min-height: 30% !important;
}
.btn-github {
  @include button-variant($btnTextAlt, $btnGithubBackground, $btnGithubBackgroundHighlight);
}

