// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

$btnGooglePlusBackground:           #3881c2;
$btnGooglePlusBackgroundHighlight:  #acd8ec;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.btn-google-plus {
  @include button-variant($btnText, $btnGooglePlusBackground, $btnGooglePlusBackgroundHighlight);
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 30%;
  min-height: 30% !important;
}
.btn-github {
  @include button-variant($btnTextAlt, $btnGithubBackground, $btnGithubBackgroundHighlight);
}

.login-container {
  padding-top: 150px;
  text-align: center;
  font-family: Lato;
}

