<header class="hero-unit" id="banner">
  <a href="/" class="flockLogo">Flock</a>
  <a href="" ng-click="loginOauth('google')" class="bannerSignIn">Sign In</a>
  <h1>Daily Games for Teams</h1>
  <p>Flock’s a fun way to build strong company culture.</p>
  <a href="" ng-click="loginOauth('google')" class="firstLink">Connect with Google+</a>
</header>

<div class="iconSec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h2>How It Works</h2>
      <div class="col-md-3 workingBullet"><img src="../assets/images/computer.png" class="iconImage">The team leader picks a fun question and sends it out to the entire team.</div>
      <div class="col-md-3 workingBullet"><img src="../assets/images/pen.png" class="iconImage">Each team member answers the question.</div>
      <div class="col-md-3 workingBullet"><img src="../assets/images/game.png" class="iconImage">Flock compiles the answers into a fun game that everyone plays.</div>
      <div class="col-md-3 workingBullet"><img src="../assets/images/trophy.png" class="iconImage">We'll keep score.</div>
      </div>
    </div>
  </div>
</div>

<div class="exampleSec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <img src="assets/images/landing-example.png">
      </div>
    </div>
  </div>
</div>

<div class="signupSec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Get started today.  It's free!</h2>
        <a href="" ng-click="loginOauth('google')" class="firstLink">Connect with Google+</a>
      </div>
    </div>
  </div>
</div>

<div class="footer">

</div>
















