<header class="hero-unit" id="banner">
  <a href="javascript:undefined;" ng-click="loginOauth('google')" class="bannerSignIn">LOG IN</a>
  <p class="logo">flock</p>
  <h1>Daily Games for Team Building</h1>
  <p class="secondaryLine">Flock’s a fun way to shape a strong company culture.</p>
  <a href="javascript:undefined;" ng-click="loginOauth('google')" class="connectLink">CONNECT WITH GMAIL</a>
</header>

<div class="sectionTwo">
  <div class="container">
    <div class="row sectionRow">
      <div class="col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0">
      	<h3>A fun, light-weight way to build company culture</h3>
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor ex cursus sapien varius ornare. Fusce mollis dictum quam in tempus. Praesent laoreet leo quis ultricies condimentum. Donec lobortis justo turpis.</p>
      </div>
      <div class="col-sm-6 col-xs-12">
      		<div class="browserImageTop"></div>
      </div>
    </div>
  </div>
</div>

<div class="sectionThree">
	<div class="container">
		<div class="row sectionRow">
			<div class="hidden-lg hidden-md hidden-sm col-xs-12">
				<div>
					<h3>Three different games for every situation</h3>
      				<p>Morbi finibus nibh in ipsum pharetra rutrum. Mauris accumsan tellus id mauris vehicula malesuada. Nullam vestibulum sollicitudin ex et sollicitudin. Ut ultrices ullamcorper efficitur. Quisque faucibus elit eu elit tempus.</p>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-1 col-xs-12 col-xs-offset-0">
				<div>
					<img class="browserImage" src="/assets/images/Browser_window2.jpg">
				</div>
			</div>
			<div class="col-sm-4 hidden-xs">
				<div>
					<h3>Three different games for every situation</h3>
      				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vitae lectus posuere, egestas metus id, blandit tellus. Pellentesque habitant morbi tristique.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sectionFour">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0">
    	<div>
			<h3>Engage everyone with friendly competition</h3>
				<p>Vestibulum sollicitudin odio felis, sed sodales erat sollicitudin in. Praesent risus odio, convallis ut nisi a, dictum pellentesque magna. Morbi vehicula viverra mi nec volutpat.</p>
		</div>
      </div>
      <div class="col-sm-6 col-xs-12">
      	<div>
      		<!-- <iframe width="100%" height="375" src="//www.youtube.com/embed/FKQS7oswN5I" frameborder="0" allowfullscreen></iframe> -->
      		<div>
      			<img class="browserImage" src="/assets/images/Browser_window3.jpg">
      		</div>
      	</div>
      </div>
    </div>
  </div>
</div>

<div class="sectionFive">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Get started today. It's free!</h3>
        <a href="javascript:undefined;" ng-click="loginOauth('google')" class="connectLink">CONNECT THE GMAIL</a>
      </div>
    </div>
  </div>
</div>

<div class="footer">
	<p>&copy; 2014 Flock</p>
</div>
















