<div class="col-md-12" ng-controller="CreateGroupCtrl as Create">
  <div class="container">
    <h1>Create a Group</h1>
    <div ng-form="memberForm">
      <label>Group Name: </label><input ng-model="Create.newGroup.groupName" required />
      <br></br>
      <label>Members:</label>
      <button ng-click="Create.addMember()">Add Member</button>
      <div ng-repeat="invite in Create.newGroup.invited">
        <label>Name: </label>
        <input ng-model="invite.name" required/>
        <label>Email Address: </label>
        <input ng-model="invite.email" required>@gmail.com
        <button class="btn btn-xs btn-danger" ng-click="Create.deleteMember($index)">Delete</button>
      </div>
    </div>
    <button ng-click="Create.createGroup(Create.newGroup)">Submit New Group</button>


    <h4>Group Created</h4>
    <p>Group Name: {{groupCreated.groupName}}</p>
    <p>Admin: {{groupCreated.admin}}</p>
    <p>Invited: </p>
    <ul ng-repeat="invite in groupCreated.invited">
      <li>{{invite.email}}</li>
    </ul>
    <p>Users:</p>
    <ul ng-repeat="user in groupCreated.users">
      <li>{{user}}</li>
    </ul>
  </div>
</div>