<div class="col-md-12" ng-controller="createGroupCtrl as Create">
  <div class="container">
    <h1>Create a Group</h1>
    <label>Group Name: </label>
    <input ng-model="group"></input>
    <button ng-click="Create.createGroup(group)">Submit</button>
    <h4>Group Created</h4>
    <p>Group Name: {{groupCreated.groupName}}</p>
    <p>Admin: {{groupCreated.admin}}</p>
    <p>Invited: </p>
    <ul ng-repeat="invite in Create.invitedArr">
      <li>{{invite.email}}</li>
    </ul>
    <p>Users:</p>
    <ul ng-repeat="user in groupCreated.users">
      <li>{{user}}</li>
    </ul>
  </div>
</div>