<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <div class="container">
    This is the user view.
    <h1>Active Groups You're a User Of</h1>
    <ul ng-repeat="group in currentUser.groups">
      <li ng-if="group.active===true">
        <a ng-href= '/group/{{group._id}}' target="_blank">{{group.groupName}}</a>
      </li>
    </ul>
<!--     <h1>Groups You Manage</h1>
    <ul ng-repeat="groupAdmin in currentUser.groupsAdmin">
      <li>
        <a ng-href= ''>{{groupAdmin.groupName}}</a>
      </li>
    </ul> -->

    <h1>Groups You Manage</h1>
    <h5>Active</h5>
    <ul ng-repeat="group in currentUser.groupsAdmin">
      <li ng-if="group.active===true">
        <a ng-href= '/group/{{group._id}}' target="_blank">{{group.groupName}}</a>
      </li>
    </ul>
    <h5>Inactive</h5>
    <ul ng-repeat="group in currentUser.groupsAdmin">
      <li ng-if="group.active===false">
        <p ng-if="group.active===false">{{group.groupName}}</p>
      </li>
    </ul>

  </div>
</div>
<div ng-include=" 'app/user/createGroup.html' "></div>
