// CREATE GROUP HTML
.groupNameText {
  color: black !important;
}

// ADMIN HTML
.modal-title {
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
}

.simple-form {
  border-radius: 3px;
}

.simple-form p {
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
}

.simple-form input {
  height: 30px;
  margin-bottom: 15px;
}

.questionSubmit {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  background-color: #3881C2;
  color: #fff;
  border: none;
  width: 92px;
  border-radius: 3px;
}

.questionInput {
  width: 470px;
  padding-left: 10px;
}

.oneOption {
  padding-left: 10px;
}

// USER HTML
.groupHeader {
  font-family: Lato;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 60px;
}

.groupNames {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.groupList {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.itemLi {
  text-align: center;
  display: inline-block;
}

.groupItem {
  border: 1px solid #dbdbda;
  padding: 10px;
  border-radius: 4px;
  color: #545454 !important;
  font-family: Lato;
  font-size: 16px;
  display: inline-block;
  margin: 7px;
}

.addGroupButton {
  margin-top: 30px;
  border: 1px solid #3881C2;
  border-radius: 4px;
  background-color: #fff;
  color: #3881C2;
  font-family: Lato;
  font-weight: 300;
}

.groupItem:hover {
  text-decoration: none;
  color: #52B3E6;
}

// // CREATE GROUP HTML
.createGroupForm {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.createdGroupView {
  padding-top: 20px;
  padding-bottom: 20px;
}

.createdGroupView li {
  list-style-type: none;
  font-family: Lato;
}

.invitedName {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  border: 1px solid #3881C2;
  background-color: #3881C2;
  padding: 9px;
  border-radius: 3px;
  font-weight: 300;
  margin-right: -10px;
}

.invitedEmail {
  color: #fff;
  border: 1px solid #ACD8EC;
  background-color: #ACD8EC;
  padding: 9px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  border-radius: 3px;
  margin-left: -10px;
}

.createCreatedHeader {
  font-family: Lato;
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: center;
}

.invitationNote {
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
}






































