<div class="col-md-12">
  Question Type : {{questionsArr[questionsArr.length-1].questionType}}
  <div ng-if="questionsArr[questionsArr.length-1].questionType==='Match'">
    <p>Match each of your group members to their responses to <span style="color:red">{{questionsArr[questionsArr.length-1].questionText}}</span>.</p>
  </div>
  <div ng-if="questionsArr[questionsArr.length-1].questionType==='Sort'">
    <p>Guess how your group members responded to <span style="color:red">{{questionsArr[questionsArr.length-1].questionText}}</span>.</p>
    <div ng-if="questionsArr[questionsArr.length-1].sortType==='have'">
      <div>Yes</div>
      <div>No</div>
    </div>
    <div ng-if="questionsArr[questionsArr.length-1].sortType==='would' || questionsArr[questionsArr.length-1].sortType==='choose' ">
      <div>{{questionsArr[questionsArr.length-1].questionOption.optionA}}</div>
      <div>{{questionsArr[questionsArr.length-1].questionOption.optionB}}</div>
    </div>
  </div>
  <div ng-if="questionsArr[questionsArr.length-1].questionType==='Order'">
    <p>Order your group members' responses to <span style="color:red">{{questionsArr[questionsArr.length-1].questionText}}</span> from least to greatest.</p>
  </div>
</div>
