.matchMembers {
  float: left;
}

.matchAnswers {
  float: right;
}

.draggableMember {
  padding: 30px;
  margin: 15px;
  outline: 1px solid blue;
  z-index: 100;
}

.droppableAnswer {
  padding: 30px;
  margin: 15px;
  outline: 1px solid blue;
  z-index: 1;
  margin-left: 30px;
}

// .thumbnail {
//   height: 280px !important;
// }

// .btn-droppable {
//   width: 180px; height: 30px; padding-left: 4px;
// }

// .btn-draggable {
//   width: 160px;
// }

// .emage {
//   height: 215px;
// }