<div class="col-md-12">

<!-- DELETE LATER - ONLY INFORMATIVE FOR US -->
Question Type : {{questionsArray[questionsArray.length-1].questionType}}

  <div ng-if="questionsArray[questionsArray.length-1].questionType==='Match'">
    <p>Match each of your group members to their responses to <span style="color:red">{{questionsArray[questionsArray.length-1].questionText}}</span>.</p>
  </div>
  <div ng-if="questionsArray[questionsArray.length-1].questionType==='Sort'">
    <p>Guess how your group members responded to <span style="color:red">{{questionsArray[questionsArray.length-1].questionText}}</span>.</p>
    <div ng-if="questionsArray[questionsArray.length-1].sortType==='have'">
      <div>Yes</div>
      <div>No</div>
    </div>
    <div ng-if="questionsArray[questionsArray.length-1].sortType==='would' || questionsArray[questionsArray.length-1].sortType==='choose' ">
      <div>{{questionsArray[questionsArray.length-1].questionOption.optionA}}</div>
      <div>{{questionsArray[questionsArray.length-1].questionOption.optionB}}</div>
    </div>
  </div>
  <div ng-if="questionsArray[questionsArray.length-1].questionType==='Order'">
    <p>Order your group members' responses to <span style="color:red">{{questionsArray[questionsArray.length-1].questionText}}</span> from least to greatest.</p>
  </div>


  <div class="matchMembers">
    <h1>GROUP MEMBERS</h1>
    <div ng-repeat="answers in groupData[groupData.length-1].questionsArr[groupData[groupData.length-1].questionsArr.length-1].answersArr|orderBy:random">
      <p class="draggableMember" data-drag="true" jqyoui-draggable>{{answers.user}}<p>
    </div>
  </div>

  <div class="matchAnswers">
    <h1>ANSWERS</h1>
    <div ng-repeat="answers in groupData[groupData.length-1].questionsArr[groupData[groupData.length-1].questionsArr.length-1].answersArr|orderBy:random">
      <div class="thumbnail" data-drop="true" jqyoui-droppable style='height:100px;' data-drag="true" class="droppableAnswer">{{answers.answer}}</div>
    </div>
  </div>


 <!--  <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title">{{list1.title}}</div> -->

<!--   <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px;'>
  <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">{{list2.title}}</div> -->
</div>
</div>












