.matchMembers {
  float: left;
}

.matchAnswers {
  float: right;
}

.draggableMember {
  padding: 30px;
  margin: 15px;
  outline: 1px solid blue;
}

.droppableAnswer {
  padding: 30px;
  margin: 15px;
  outline: 1px solid blue;
}