<!-- <div ng-if="currentQuestionData.active && !currentQuestionData.activeGame">
  <h4 >Current Question Status</h4>
  <p>Active? {{currentQuestionData.active}}</p>
  <p>{{currentQuestionData.answersArray.length}} People Have Answered the Current Question</p>
  <ul ng-repeat="answer in currentQuestionData.answersArray">
    <li>
      {{answer.user.name}}: {{answer.user.email}}
    </li>
  </ul>
</div> -->
<div ng-if="currentQuestionData.active">
  <!-- <h4>Current Game Status</h4>
  <p>Active? {{currentQuestionData.activeGame}}</p> -->
  <p ng-if="currentQuestionData.active && currentQuestionData.answersArray.length < 2" class="alertMessage">Encourage users to respond to the question - need at least two responses to send out the game</p>

  <button ng-if="currentQuestionData.active && !currentQuestionData.activeGame && currentQuestionData.answersArray.length > 1" ng-click="Admin.sendGame()" class="sendEndGame">Send Game</button>
  <button ng-if="currentQuestionData.activeGame" ng-click="Admin.endGame()" class="sendEndGame">End Game</button>
  <!-- <div ng-if="currentQuestionData.activeGame">
    <p>Users Who Have Played the Current Game</p>
    <ul ng-repeat="answer in currentQuestionData.answersArray">
      <li ng-if="answer.completed">{{answer.user.name}}</li>
    </ul>
  </div> -->

</div>

<!-- CREATE QUESTION SECTION -->
<div ng-if="!questionsExist || !currentQuestionData.active" class="row">
  <h2 class="createHeader">Create a Question</h2>
  <!-- <p>Note: When a question is created, it's automatically mailed out to all your users</p> -->

<!-- MATCHING QUESTION BUTTON -->
  <div class="singleButton col-md-4" ng-click="open('matchingQuestion.html')" ng-controller="MatchingCtrl">
    <img class="imageIcon" ng-src="../assets/images/matchingExample.png">
    <button class="buttonIcon">Matching Question</button>
  </div>
  <script type="text/ng-template" id="matchingQuestion.html">
    <div class="modal-header">
        <h3 class="modal-title">Create A Matching Question</h3>
    </div>
    <div class="modal-body">
      <form name="createMatchingQuestionForm" ng-submit="createMatching()" class="simple-form">
        <p>Example: "What is your favorite ice cream flavor?"</p>
        <input class="questionInput" ng-model="questionText" placeholder="Question">
        <input class="questionSubmit" type="submit" ng-click="cancel()" value="Create">
      </form>
    </div>
  </script>

<!-- SORTING QUESTION BUTTON -->
  <div class="singleButton col-md-4" ng-click="open('sortingQuestion.html')" ng-controller="SortingCtrl">
    <img class="imageIcon" ng-src="../assets/images/sortingExample.png">
    <button class="buttonIcon">Sorting Question</button>
  </div>
  <script type="text/ng-template" id="sortingQuestion.html">
    <div class="modal-header">
        <h3 class="modal-title">Create A Sorting Question</h3>
    </div>
    <div class="modal-body">
      <form name="createSortingQuestionForm" ng-submit="createSorting(myOption)" ng-controller="FormController" class="simple-form">
        <select class="dropDown" ng-model="myOption" ng-options="option.qtype for option in options">
        </select>
        <div ng-show="myOption.qtype === 'Would you rather...' && myOption.value">
          <p>Example: "Would you rather smell like tuna for an entire year or be forced to eat a can of black olives for every meal for six months?"</p>
          <p>Would you rather {{optionA}} or {{ optionB }} ?<p>
          <input class="oneOption" ng-model="optionA" placeholder="option A">
          <input class="oneOption" ng-model="optionB" placeholder="option B">
        </div>
        <div ng-show="myOption.qtype === 'Have you ever...' && myOption.value">
          <p>Example: "Have you ever gone skydiving?"</p>
          Have you ever
          <input class="oneOption" ng-model="questionText"> ?
        </div>
        <div ng-show="myOption.qtype === 'Choose between...' && myOption.value">
          <p>Example: "Over or under? (referring to toilet paper)"</p>
          <input class="oneOption" ng-model="optionA" placeholder="option A">
          or
          <input class="oneOption" ng-model="optionB" placeholder="option B"> ?
        </div>
        <input class="questionSubmit questionSubmitCenter" type="submit" ng-click="cancel()" value="Create">
      </form>
    </div>
  </script>

<!-- ORDERING QUESTION BUTTON -->
  <div class="singleButton col-md-4" ng-click="open('orderingQuestion.html')" ng-controller="OrderingCtrl">
    <img class="imageIcon" ng-src="../assets/images/orderingExample.png">
    <button class="buttonIcon">Ordering Question</button>
  </div>
  <script type="text/ng-template" id="orderingQuestion.html">
    <div class="modal-header">
      <h3 class="modal-title">Create An Ordering Question</h3>
    </div>
    <div class="modal-body">
      <form name="createOrderingQuestionForm" ng-submit="createOrdering()" class="simple-form">
        <p>Example: "How many countries have you been to?"</p>
        <input class="questionInput" ng-model="questionText" placeholder="Question">
        <input class="questionSubmit" type="submit" ng-click="cancel()" value="Create">
      </form>
    </div>
  </script>
</div>



  <!-- ADD MEMBER TO GROUP BUTTON AND FORM -->
  <div class="row">
    <h4 class="adminGroupHeader">Members in {{groupData.groupName}}</h4>
    <button class="addMemberButton" ng-click="Admin.addMemberField()">Add+</button>
  </div>
  <div ng-repeat="invite in Admin.inviteArrField track by $index">
    <label>Name: </label>
    <input ng-model="invite.name" required></input>
    <label>Email Address: </label>
    <input ng-model="invite.email" required></input>
    <p ng-show="!invite.validity">*You must enter a valid gmail email.</p>
    <button ng-disabled="invite.sent===true" ng-click="Admin.sendMessage(invite)">{{invite.button}}</button>
  </div>
  <!-- GROUP MEMBER LISTING -->
  <div class="holdingMembers">
    <div class="row">
      <ul ng-repeat="user in groupData.users | orderBy:reverse" id="admin">
        <li class="listOfAllMembers col-md-2">
          <img ng-if="user.user._id == groupData.admin" class="xAdmin" ng-src="../assets/images/whitex.png">
          <img ng-click="Admin.removeMember(user)" ng-if="user.user._id !== groupData.admin" class="xMember" ng-src="../assets/images/x.png">
          <img class="groupMemberPics" ng-src="{{user.user.google.picture}}">
          <p class="memberName">{{user.user.google.name}}</p>
        </li>
      </ul>
      <ul ng-repeat="invite in groupData.invited track by $index">
        <li ng-if="invite" class="listOfAllMembers col-md-2">
          <img ng-if="user._id !== groupData.admin" class="xInvite" ng-src="../assets/images/whitex.png">
          <img class="groupMemberPics" ng-src="../assets/images/invitedPic.png">
          <p class="memberName">{{invite.name}}</p>
          <p class="invitedLabel">Invited</p>
        </li>
      </ul>
    </div>
  </div>
  <!-- DEACTIVATE BUTTON -->
  <div class="row">
    <div class="deactivate">
      <button class="btn btn-danger deactivateButton" ng-click="Admin.deactivateGroup()">Delete Group</button>
    </div>
  </div>







