<h3>This is the admin view for {{groupData.groupName}} nested inside the group view</h3>
<button class="btn btn-danger" ng-click="Admin.deactivateGroup()">{{Admin.deactivateGroupButtonText}}</button>
<!-- <br></br> -->
<!-- <button class="btn btn-danger" ng-click="Admin.deleteGroup()">{{Admin.deleteGroupButtonText}}</button> -->
<h4>Invite Members</h4>
<!--   <p>Link: {{inviteLink}}</p> -->
<button ng-click="Admin.addMemberField()">Add Member</button>
<div ng-repeat="invite in Admin.inviteArrField track by $index">
  <label>Name: </label>
  <input ng-model="invite.name" required></input>
  <label>Email Address: </label>
  <input ng-model="invite.email" required>@gmail.com</input>
  <button ng-disabled="invite.sent===true" ng-click="Admin.sendMessage(invite)">{{invite.button}}</button>
</div>
<h4>Current Users</h4>
<ul ng-repeat="user in groupData.users">
  <li>
    {{user.name}}: {{user.email}}
    <button class="btn btn-warning" ng-click="Admin.removeMember(user)">Remove Member</button>
  </li>
</ul>
<h4>Invited but Unconfirmed</h4>
<ul ng-repeat="invite in groupData.invited track by $index">
  <li ng-if="invite">
    {{invite.name}}: {{invite.email}}@gmail.com
  </li>
</ul>