
  <h3>This is the game view nested inside the group view</h3>
  Question Type : {{currentQuestionData.questionType}}

<!-- TIMER -->
  <timer>
    <progressbar class="progress-striped active" value="timerSeconds" max="90"></progressbar>
  </timer>

<!-- AFTER GAME SCORE MODAL -->
    <script type="text/ng-template" id="afterGameContent.html">
        <div class="modal-header">
          <h1>Your Score</h1>
        </div>
        <div class="modal-body">
          <div>Time: {{userScore}}</div>
          <button ng-click="showLeaderboardFunc()">Go to Leaderboard</button>
        </div>
    </script>


<!-- MATCHING QUESTION -->
  <div ng-if="currentQuestionData.questionType==='Match'">

    <p class="gameInstruction">Match your teammates to their responses.</p>
    <h1 class="gameQuestionText">{{currentQuestionData.questionText}}</h1>.

    <!-- BLANK BOX TO RECEIVE BUTTON -->
    <div class="row">

          <div ng-repeat="item in blanks" class="bottom col-md-2">
            <div class="thumbnailReceiver" data-drop="true" data-jqyoui-options ng-model="blanks" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.user, $index)'}">
              <div class="btn {{right[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blanks" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.user)'}" ng-hide="!item.name">
                <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
                <div ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.google.given_name}}</div>
              </div>
            </div>
          </div>

    </div>

    <!-- ANSWERS FROM USERS -->
    <div ng-repeat="answer in currentQuestionData.answersArray" class="answerList col-md-2">{{answer.answer}}</div>
  </div>

  <!-- BUTTON TO DRAG INTO BLANK BOX -->
  <div ng-repeat="item in users" class="top col-md-2">
    <div class="row">
      <div class="thumbnailSender" data-drop="true" data-jqyoui-options ng-model="users" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
        <div class="btn" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="users" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
          <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
          <div ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.google.given_name}}</div>
        </div>
      </div>
    </div>
  </div>

<!-- END OF MATCHING QUESTION -->

<!-- SORTING QUESTION -->
  <div ng-if="currentQuestionData.questionType==='Sort'">
      <p>Guess how your group members responded to <span style="color:red">{{currentQuestionData.questionText}}</span>.</p>

      <!-- SORTING QUESTION - HAVE -->
      <div ng-if="currentQuestionData.sortType==='have'">
        <div ng-repeat="item in users" class="top">
          <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="users" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
            <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="users" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
            <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'" style="height: 50px; width:50px;">
            <div ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.google.given_name}}</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div>{{currentQuestionData.questionOption.optionA}}</div>
        <div ng-repeat="item in sortAnsA" class="bottom">
          <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="sortAnsA" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
            <!-- {{rightA[$index]}} -->
            <div class="btn btn-{{rightA[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="sortAnsA" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
              <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'" style="height: 50px; width:50px;">
              <div ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.google.given_name}}</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div>{{currentQuestionData.questionOption.optionB}}</div>
        <div ng-repeat="item in sortAnsB" class="bottom">
          <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="sortAnsB" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">

            <!-- btn btn-{{rightB[$index]}} -->
            <div class="btn btn-{{rightB[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="sortAnsB" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
              <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'" style="height: 50px; width:50px;">
              <div ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.google.given_name}}</div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
      <!-- END OF SORTING QUESTION - HAVE -->

      <!-- SORTING QUESTION - WOULD && CHOOSE -->
      <div ng-if="currentQuestionData.sortType==='would' || currentQuestionData.sortType==='choose' ">
        <div ng-repeat="item in users" class="top">
          <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="users" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
            <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="users" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
            <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'" style="height: 50px; width:50px;">
            <div ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.google.given_name}}</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div>{{currentQuestionData.questionOption.optionA}}</div>
        <div ng-repeat="item in sortAnsA" class="bottom">
          <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="sortAnsA" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
            <!-- {{rightA[$index]}} -->
            <div class="btn btn-{{rightA[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="sortAnsA" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
              <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'" style="height: 50px; width:50px;">
              <div ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.google.given_name}}</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div>{{currentQuestionData.questionOption.optionB}}</div>
        <div ng-repeat="item in sortAnsB" class="bottom">
          <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="sortAnsB" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">

            <!-- btn btn-{{rightB[$index]}} -->
            <div class="btn btn-{{rightB[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="sortAnsB" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
              <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'" style="height: 50px; width:50px;">
              <div ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.google.given_name}}</div>
            </div>
          </div>
        </div>
        <br>
        <br>
  </div>
  <!-- END OF SORTING QUESTION - WOULD && CHOOSE -->
</div>
<!-- END OF ALL SORTING QUESTION -->

<!-- ORDERING QUESTION -->
<div ng-if="currentQuestionData.questionType==='Order'">
  <p>Order your group members' responses to <span style="color:red">{{currentQuestionData.questionText}}</span> from least to greatest.</p>

  <!-- BUTTON TO DRAG INTO BLANK BOX -->
  <div ng-repeat="item in users" class="top">
    <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="users" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
      <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="users" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
        <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'" style="height: 50px; width:50px;">
        <div ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.google.given_name}}</div>
      </div>
    </div>
  </div>
  <br><br><br>

  <!-- BLANK BOX TO RECEIVE BUTTON -->
  <div ng-repeat="item in blanks" class="bottom">
    <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="blanks" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
      <div class="btn btn-{{right[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blanks" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
        <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'" style="height: 50px; width:50px;">
        <div ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.google.given_name}}</div>
      </div>
    </div>
  </div>

  <!-- ANSWERS FROM USERS -->
  <div ng-repeat="item in bottomArr" class="answerList">{{item.answer}}</div>
</div>
<!-- END OF ORDERING QUESTION -->

<button class="btn btn-primary" ng-click="reset()">Reset</button>









