<div ng-show="!clickedPlay">
  <h3>Game is ready</h3>
  <button ng-click="play()">Click here to play!</button>
</div>

<div ng-show="clickedPlay">
<!-- TIMER -->
  <timer autoStart="false">
    <progressbar class="progress-striped active" value="timerSeconds" max="60"></progressbar>
  </timer>

<!-- AFTER GAME SCORE MODAL -->
    <script type="text/ng-template" id="afterGameContent.html">
        <div class="modal-header">
          <h1>Your Score</h1>
        </div>
        <div class="modal-body">
          <div>Time: {{userScore}} seconds</div>
          <button ng-click="showLeaderboardFunc()">Go to Leaderboard</button>
        </div>
    </script>

<!-- MATCHING QUESTION -->
  <div ng-if="currentQuestionData.questionType==='Match'">
    <p class="gameInstruction">Match your teammates to their responses.</p>
    <h1 class="gameQuestionText">{{currentQuestionData.questionText}}.</h1>

    <!-- BLANK BOX TO RECEIVE BUTTON -->
    <div class="row">
      <div ng-repeat="item in blanks" class="bottom col-md-2">
        <div class="thumbnailReceiver" data-drop="true" data-jqyoui-options ng-model="blanks" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.user, $index)'}">
          <div class="{{right[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blanks" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.user)'}" ng-hide="!item.name">
            <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
            <div class="text-center" ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- ANSWERS FROM USERS -->
    <div class="row">
      <div ng-repeat="answer in correctOrder" class="answerList col-md-2">{{answer.answer}}</div>
    </div>

  <!-- BUTTON TO DRAG INTO BLANK BOX -->
    <div class="row greyHolder">
      <div ng-repeat="item in users" class="top col-md-2">
        <div class="thumbnailSender" data-drop="true" data-jqyoui-options ng-model="users" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
          <div data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="users" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
            <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
            <div class="text-center" ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>
   </div>

<!-- END OF MATCHING QUESTION -->

<!-- TESTING CODE -->

<!-- SORTING QUESTION -->
  <div ng-if="currentQuestionData.questionType==='Sort'">
    <p class="gameInstruction">Guess your teammates' responses.</p>
    <h1 class="gameQuestionText">{{currentQuestionData.questionText}}</h1>

      <!-- SORTING QUESTION - HAVE -->
      <div ng-if="currentQuestionData.sortType==='have'">

        <div class="row sortTop">
        <div class="col-md-6 leftSort">
         <div class="sortHeader">{{currentQuestionData.questionOption.optionA}}</div>
          <div ng-repeat="item in sortAnsA" class="bottom col-md-4">
            <div class="thumbnailReceiver" data-drop="true" data-jqyoui-options ng-model="sortAnsA" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
              <!-- {{rightA[$index]}} -->
              <div class="{{rightA[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="sortAnsA" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
                <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
                <div class="text-center" ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.name}}</div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-6 rightSort">
            <div class="sortHeader">{{currentQuestionData.questionOption.optionB}}</div>
            <div ng-repeat="item in sortAnsB" class="bottom col-md-4">
              <div class="thumbnailReceiver" data-drop="true" data-jqyoui-options ng-model="sortAnsB" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
                <!-- btn-{{rightB[$index]}} -->
                <div class="{{rightB[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="sortAnsB" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
                  <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
                  <div class="text-center" ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row greyHolder">
          <div ng-repeat="item in users" class="col-md-2">
            <div class="thumbnailSender" data-drop="true" data-jqyoui-options ng-model="users" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
              <div data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="users" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
              <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
              <div class="text-center" ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.name}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- END OF SORTING QUESTION - HAVE -->

      <!-- SORTING QUESTION - WOULD && CHOOSE -->
      <div ng-if="currentQuestionData.sortType==='would' || currentQuestionData.sortType==='choose' ">
        <div class="row sortGameTop">
          <div class="col-md-6 leftSort">
          <div class="sortHeader">{{currentQuestionData.questionOption.optionA}}</div>
            <div ng-repeat="item in sortAnsA" class="bottom col-md-4">
              <div class="thumbnailReceiver" data-drop="true" data-jqyoui-options ng-model="sortAnsA" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
                <!-- {{rightA[$index]}} -->
                <div class="{{rightA[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="sortAnsA" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
                  <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
                  <div class="text-center" ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.name}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 rightSort">
          <div class="sortHeader">{{currentQuestionData.questionOption.optionB}}</div>
            <div ng-repeat="item in sortAnsB" class="bottom col-md-4">
              <div class="thumbnailReceiver" data-drop="true" data-jqyoui-options ng-model="sortAnsB" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
                <!-- btn btn-{{rightB[$index]}} -->
                <div class="{{rightB[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="sortAnsB" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
                  <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
                  <div class="text-center" ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- BUTTON TO DRAG INTO BLANK BOX -->
        <div class="row greyHolder">
          <div ng-repeat="item in users" class="col-md-2">
            <div class="thumbnailSender" data-drop="true" data-jqyoui-options ng-model="users" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
              <div data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="users" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
              <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
              <div class="text-center" ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- END OF SORTING QUESTION - WOULD && CHOOSE -->
</div>
<!-- END OF ALL SORTING QUESTION -->

<!-- ORDERING QUESTION -->
<div ng-if="currentQuestionData.questionType==='Order'">
  <p class="gameInstruction">Order your teammates' according to their responses.</p>
  <h1 class="gameQuestionText">{{currentQuestionData.questionText}}</h1>

<!-- BLANK BOX TO RECEIVE BUTTON -->
    <div class="row">
      <div ng-repeat="item in blanks" class="bottom col-md-2">
        <div class="thumbnailReceiver" data-drop="true" data-jqyoui-options ng-model="blanks" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
          <div class="{{right[$index]}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="blanks" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
            <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
            <div class="text-center" ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- ANSWERS FROM USERS -->
    <div class="row">
      <div ng-repeat="item in bottomArr" class="answerList col-md-2">{{item.answer}}</div>
    </div>

    <!-- BUTTON TO DRAG INTO BLANK BOX -->
    <div class="row greyHolder">
      <div ng-repeat="item in users" class="top col-md-2">
        <div class="thumbnailSender" data-drop="true" data-jqyoui-options ng-model="users" jqyoui-droppable="{index: {{$index}}, onDrop:'droppedItem(item.name, $index)'}">
          <div data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="users" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: true, onStart:'grabbedItem(item.name)'}" ng-hide="!item.name">
            <img ng-src="{{item.google.picture}}" ng-hide="item.google.picture === 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
            <div class="text-center" ng-hide="item.google.picture !== 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF ORDERING QUESTION -->
</div>
<!-- <button class="btn btn-primary" ng-click="reset()">Reset</button> -->









