.sendEndGame {
  font-family: Lato;
  font-weight: 300;
  color: #fff;
  background-color: #3881C2;
  padding: 10px 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.createHeader {
  font-family: Lato;
  margin-top: 30px;
  margin-bottom: 30px;
}

.blueBackground {
  background-color: #3881C2;
}

.singleButton {
  margin-bottom: 30px;
}

.imageIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.buttonIcon {
  width: 226px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  background-color: #3881C2;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
}

.adminGroupHeader {
  display: inline-block;
  margin-right: 10px;
  font-family: Lato;
  font-weight: 300;
}

.addMemberButton {
  border: 1px solid #3881C2;
  background-color: #fff;
  color: #3881C2;
  font-family: Lato;
  font-weight: 300;
}

.holdingMembers {
  margin-top: 20px;
  margin-bottom: 40px;
}

.listOfAllMembers {
  list-style-type: none;
}

#admin:first-child {
  position: relative;
  top: 10px;
}

.xAdmin {
  height: 25px;
  width: 25px;
  margin-left: 110px;
  margin-bottom: -26px;
}

.xMember {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-left: 110px;
  margin-bottom: -26px;
}

.xInvite {
  height: 25px;
  width: 25px;
  margin-left: 110px;
  margin-bottom: -26px;
}

.groupMemberPics {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.memberName {
  text-align: center;
  font-family: Lato;
  font-weight: 300;
}

.invitedLabel {
  text-align: center;
  font-family: Lato;
  font-style: italic;
}

.deactivate {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.deactivateButton {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: none;
  margin-top: -15px;
  font-family: Lato;
  font-weight: 300;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 60px;
}

// GAME HTML (STYLING THREE INDIVIDUAL GAMES)
.gameInstruction {
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.gameQuestionText {
  font-family: Lato;
  text-align: center;
  font-weight: 700;
  margin-bottom: 60px;
  margin-top: -5px;
}

.thumbnailReceiver {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: 1px dashed #B8B8B8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.thumbnailReceiver img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0;
  padding: 0;
}

.thumbnailSender {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: 1px solid #B8B8B8;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnailSender img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 !important;
  padding: 0;
}

.text-center {
  line-height: 120px;
}

.green {
  background-color: #40985B;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  margin: 0;
}

.red {
  background-color: #D2403D;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  margin: 0;
}

.blanksSec {
  width: 12.5%;
}

.answerList {
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 60px;
}

.sortHeader {
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 30px;
}

.sortTop {
  margin-bottom: 60px;
}

.leftSort {
  border-right: 1px solid #eee;
}

.rightSort {
  border-left: 1px solid #eee;
}

.sortGameTop {
  margin-bottom: 60px;
}

.greyHolder {
  background-color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
}

// LEADER BOARD VIEW
.wholeLeaderBoard {
  background-color: #eee;
  margin-bottom: 60px;
  margin-top: 40px;
}

.leaderboardHeader {
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  margin-bottom: 40px;
}

.leaderName {
  font-family: Lato;
  font-size: 14px;
  text-align: center;
}

.leaderTime {
  font-family: Lato;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  margin-top: -10px;
}

.tableHeader {
  text-align: center;
  font-family: Lato;
  font-size: 20px
}

.pictureList {
  list-style-type: none;
}

.leaderboardPic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.tableColumn {
  padding-left: 0px;
}

.tableItem {
  list-style-type: none;
  text-align: center;
  line-height: 80px;
  font-family: Lato;
  font-weight: 300;
}

// SHOW QUESTION HTML
.questionShown {
  font-family: Lato;
  font-size: 24px;
  text-align: center;
}

.questionShownText {
  font-family: Lato;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}

.inputHolder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.answerSubmitInput {
  width: 400px;
}

// SCORE MODAL STYLING
.modal-header h1 {
  font-family: Lato;
  text-align: center;
  font-weight: 300;
}

.modal-body div {
  font-family: Lato;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 15px;
}

.modal-body button {
  font-family: Lato;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #3881C2;
  background-color: #3881C2;
  padding: 10px;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-body button:hover {
  background-color: #0C406E;
}

.linkToAdmin {
  font-family: Lato;
  font-weight: 300;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #3881C2;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 20px;
  width: 270px;
}

.linkToAdmin:hover {
  color: #fff;
  background-color: #0C406E;
  text-decoration: none;
  cursor: pointer;
}

.alertMessage {
  margin-top: 200px;
  font-family: Lato;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}















