<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <div class="container">
    <h1>This is the group view for {{groupData.groupName}}</h1>
    <h4 ng-if="!groupData.active">{{groupData.groupName}} has been deactivated. Return to <a ng-href="/user">User</a></h4>
    <div ng-show="Group.isGroupAdmin && groupData.active" ng-include=" 'app/group/admin.html' " ng-controller="AdminCtrl as Admin">
    </div>
    <br>
    </br>
    <button ng-click="showLeaderboardFunc()">Leaderboard</button>
    <div ng-if="showQuestion && currentQuestionData.active && currentQuestionData.activeGame">
      <h3>To play current game, you must've answered the question. Next question will be sent out soon!</h3>
    </div>
    <div ng-if="showQuestion && currentQuestionData.active && !currentQuestionData.activeGame" ng-include=" 'app/group/showQuestion.html' " ng-controller="ShowQuestionCtrl as showQuest"></div>
    <div ng-show="!showQuestion && showGame && currentQuestionData.activeGame && currentQuestionData.active" ng-include=" 'app/group/game.html' " ng-controller=" GameController "></div>
    <div ng-show="showLeaderboard" ng-include=" 'app/group/leaderboard.html' " ng-controller=" LeaderboardController as Leader "></div>
  </div>
</div>
