.createHeader {
  font-family: Lato;
}

.singleButton {
  margin-bottom: 30px;
}

.imageIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.buttonIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: #699EB9;
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
}

.holdingMembers {
  margin-top: 40px;
  margin-bottom: 40px;
}

.listOfAllMembers {
  list-style-type: none;
  float: left;
}

.xAdmin {
  height: 25px;
  width: 25px;
  margin-left: 105px;
  margin-bottom: -23px;
}

.xMember {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-left: 110px;
  margin-bottom: -26px;
  z-index: 100;
}

.xInvite {
  height: 25px;
  width: 25px;
  margin-left: 118px;
  margin-bottom: -40px;
}

.groupHeader {
  display: inline-block;
  margin-right: 10px;
}

.addMemberButton {
  border: 1px solid #699EB9;
  background-color: #fff;
  color: #699EB9;
  font-family: Lato;
  font-weight: 300;
}

.groupMemberPics {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.memberName {
  text-align: center;
  font-family: Lato;
  font-weight: 300;
}

.invitedLabel {
  text-align: center;
  font-family: Lato;
  font-style: italic;
}

.deactivate {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.deactivateButton {
  display: block;
  margin-right: auto;
  margin-left: auto;
}




