<div class="col-md-12" ng-controller="GroupAdminCtrl as Group">
  <div class="container">
    <h1>This is the group admin view</h1>
    <h4>Invite Members to a group</h4>
  <!--   <p>Link: {{inviteLink}}</p> -->
    <button ng-click="Group.addMember()">Add Member</button>
    <div ng-repeat="invite in Group.invitedArr track by $index">
      <label>Name: </label>
      <input ng-model="invite.name"></input>
      <label>Email Address: </label>
      <input ng-model="invite.email"></input>
      <button ng-click="Group.sendMessage(invite)">Send Invite</button>
    </div>
  </div>
</div>