

<div class="col-md-12 wholeLeaderBoard">
  <h3 class="leaderboardHeader">Team Leaderboard</h3>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="tableHeader">Team Member</div>
    </div>
    <div class="col-md-3 tableHeader">Latest Score</div>
    <div class="col-md-3 tableHeader">Best Score</div>
  </div>

  <div class="col-md-3">
    <ul ng-repeat="member in memberData" class="pictureGroup">
        <li class="pictureList">
          <img class="leaderboardPic" ng-src="{{member.item.google.picture}}">
        </li>
    </ul>
  </div>

  <div class="col-md-3 tableItem">
    <ul class="tableColumn" ng-repeat="member in memberData">
      <li class="tableItem">{{member.item.name}}</li>
    </ul>
  </div>

  <div class="col-md-3">
    <ul class="tableColumn" ng-repeat="member in memberData">
      <li ng-show="member.currentScore" class="tableItem">{{member.currentScore}} seconds</li>
    </ul>
  </div>

  <div class="col-md-3">
    <ul class="tableColumn" ng-repeat="member in memberData">
      <li ng-show="member.bestScore" class="tableItem">{{member.bestScore}} seconds</li>
    </ul>
  </div>
</div>