<h3>Show Question to User</h3>

  <p>question type: {{questionsArr[questionsArr.length-1].questionType}}</p>
  <p>question text: {{questionsArr[questionsArr.length-1].questionText}}</p>
  <p>sort type: {{questionsArr[questionsArr.length-1].sortType}}</p>

  <div ng-if="groupData.questionsArr[questionsArr.length-1].questionType === 'Match'">
    <form name="userAnswerMatch" ng-submit="userAnswer()" class="simple-form">
      <input ng-model="userAnswer" required>
      <input type="submit" value="Answer">
    </form>
  </div>

  <div ng-if="questionsArr[questionsArr.length-1].questionType === 'Sort'">
    <form name="userAnswerSort" class="simple-form">

      <div ng-if="questionsArr[questionsArr.length-1].sortType === 'would' || questionsArr[questionsArr.length-1].sortType === 'choose'">
        <button>{{questionsArr[questionsArr.length-1].questionOption.optionA}}</button>
        <button>{{questionsArr[questionsArr.length-1].questionOption.optionB}}</button>
      </div>

      <div ng-if="questionsArr[questionsArr.length-1].sortType === 'have'">
        <button>Yes</button>
        <button>No</button>
      </div>
    </form>
  </div>

  <div ng-if="questionsArr[questionsArr.length-1].questionType === 'Order'">
    <form name="userAnswerOrder" class="simple-form">
      <input ng-model="userAnswer" required>
      <input type="submit" value="Answer">
    </form>

  </div>