<h3>This is the show question view nested inside the group view</h3>
<p>question type: {{groupData.questionsArr[groupData.questionsArr.length-1].questionType}}</p>
<p>question text: {{groupData.questionsArr[groupData.questionsArr.length-1].questionText}}</p>
<p>sort type: {{groupData.questionsArr[groupData.questionsArr.length-1].sortType}}</p>

<div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].questionType === 'Match'">
  <form name="userAnswerMatch" ng-submit="showQuest.userAnswer()" class="simple-form">
    <input ng-model="showQuest.answer" required>
    <input type="submit" value="Answer">
  </form>
</div>

<div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].questionType === 'Sort'">
  <form name="userAnswerSort" class="simple-form">

    <div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].sortType === 'would' || groupData.questionsArr[questionsArr.length-1].sortType === 'choose'">
      <button>{{groupData.questionsArr[questionsArr.length-1].questionOption.optionA}}</button>
      <button>{{groupData.questionsArr[questionsArr.length-1].questionOption.optionB}}</button>
    </div>

    <div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].sortType === 'have'">
      <button>Yes</button>
      <button>No</button>
    </div>

  </form>
</div>

<div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].questionType === 'Order'">
  <form name="userAnswerOrder" class="simple-form" ng-submit="showQuest.userAnswer()">
    <input ng-model="showQuest.answer" required>
    <input type="submit" value="Answer">
  </form>
</div>
