<h1 class="questionShown">Answer the following question:</h1>
<p class="questionShownText">{{groupData.questionsArr[groupData.questionsArr.length-1].questionText}}</p>

<div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].questionType === 'Match'">
  <form name="userAnswerMatch" ng-submit="showQuest.userAnswer()" class="simple-form">
    <div class="inputHolder">
      <input class="answerSubmitInput" ng-model="showQuest.answer" required>
      <input class="questionSubmit" type="submit" value="Submit">
    </div>
  </form>
</div>

<div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].questionType === 'Sort'">
  <form name="userAnswerSort" class="simple-form">

    <div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].sortType === 'would' || groupData.questionsArr[groupData.questionsArr.length-1].sortType === 'choose'">
      <input type="radio" ng-click="showQuest.userAnswer(groupData.questionsArr[groupData.questionsArr.length-1].questionOption.optionA)">{{groupData.questionsArr[groupData.questionsArr.length-1].questionOption.optionA}}
      <input type="radio" ng-click="showQuest.userAnswer(groupData.questionsArr[groupData.questionsArr.length-1].questionOption.optionB)">{{groupData.questionsArr[groupData.questionsArr.length-1].questionOption.optionB}}
    </div>
    <div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].sortType === 'have'">
      <input type="radio" ng-click="showQuest.userAnswer('Yes')">Yes
      <input type="radio" ng-click="showQuest.userAnswer('No')">No
    </div>
  </form>
</div>

<div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].questionType === 'Order'">
  <form name="userAnswerOrder" class="simple-form" ng-submit="showQuest.userAnswer()">
    <input type="number" ng-model="showQuest.answer" required>
    <input class="questionSubmit" type="submit" value="Submit">
  </form>
</div>
