<h3>This is the show question view nested inside the group view</h3>
<p>question type: {{groupData.questionsArr[groupData.questionsArr.length-1].questionType}}</p>
<p>question text: {{groupData.questionsArr[groupData.questionsArr.length-1].questionText}}</p>
<p>sort type: {{groupData.questionsArr[groupData.questionsArr.length-1].sortType}}</p>

<div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].questionType === 'Match'">
  <form name="userAnswerMatch" ng-submit="showQuest.userAnswer()" class="simple-form">
    <input ng-model="showQuest.answer" required>
    <input type="submit" value="Answer">
  </form>
</div>

<div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].questionType === 'Sort'">
  <form name="userAnswerSort" class="simple-form">

    <div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].sortType === 'would' || groupData.questionsArr[groupData.questionsArr.length-1].sortType === 'choose'">
      <input type="radio" ng-click="showQuest.userAnswer(groupData.questionsArr[groupData.questionsArr.length-1].questionOption.optionA)">{{groupData.questionsArr[groupData.questionsArr.length-1].questionOption.optionA}}
      <input type="radio" ng-click="showQuest.userAnswer(groupData.questionsArr[groupData.questionsArr.length-1].questionOption.optionB)">{{groupData.questionsArr[groupData.questionsArr.length-1].questionOption.optionB}}
    </div>

    <div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].sortType === 'have'">
      <input type="radio" ng-click="showQuest.userAnswer('Yes')">Yes
      <input type="radio" ng-click="showQuest.userAnswer('No')">No
    </div>
  </form>
</div>

<div ng-if="groupData.questionsArr[groupData.questionsArr.length-1].questionType === 'Order'">
  <form name="userAnswerOrder" class="simple-form" ng-submit="showQuest.userAnswer()">
    <input ng-model="showQuest.answer" required>
    <input type="submit" value="Answer">
  </form>
</div>
